.pokemon-card{
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0,0,0 ,0.2), 0 6px 10px rgba(0,0,0,0.15);
    padding:10px;
    text-align: center;
    width: 150px;
    transition: transform 0.3s ease, box-shadown 0.3s ease;
    position: relative;
}

.pokemon-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0,0,0 0.2);
}

.pokemon-image{
    width: 120px;
    height: 120px;
    
}

.pokemon-card:hover image{
    width: 150px;
    height: 150px;
}

h2{
    margin: 10px 0;
    color: #333;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: capitalize;
}

p {
    margin: 5px 0;
    color: #777;
    font-size: 0.9rem;
}

.pokemon-type{
    background-color: #d32f2f;
    color: #fff;
    padding: 3px 7px;
    border-radius: 8px;
    font-size: 0.8rem;
    display: inline-block;
    margin-top: 5px;
}

.pokemon-card::before {
    content: '';
    position: absolute;
    top: -20%;
    left: -20%;
    width: 140%;
    height: 140%;
    background: radial-gradient(circle at center, transparent, rgba(0,0,0,0.1));
    transform: rotate(45deg);
    transition: opacity 0.5s ease;
    opacity: 0;
    z-index: 0;
}

